.media-tile {
  height: 8vw;
  width: 16vw;
  background-color: black;
  transition: 0.3s;
  margin-bottom: 1vw;
  display: inline-block;
  zoom: 1;
  *display: inline;
  margin: 0.1vw;
  border-radius: 3px;
  transition: 0.3s;

  video {
    width: inherit;
    height: auto;
    border-radius: inherit;
  }
  img {
    width: inherit;
    height: auto;
    border-radius: inherit;
  }
}
.modal {
  transform: scale(1.8);
  z-index: 10;
}

.media-tile-container {
  justify-content: center;
  // does not apply
}
