.media-tile {
  height: 8vw;
  width: 16vw;
  background-color: gray;
  transition: 0.3s;
  margin-bottom: 1vw;
  display: inline-block;
  zoom: 1;
  *display: inline;
  margin: 0.1vw;
  border-radius: 3px;
  video {
    width: inherit;
    height: inherit;
  }
  img {
    width: inherit;
    display: inherit;
    border-radius: inherit;
  }
}
.media-tile:hover {
  background-color: burlywood;
}

.media-tile-container {
  justify-content: center;
  // does not apply
}
