.mylist-page {
  padding-bottom: 10px;
  color: white;
  font-family: "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
  h2 {
    margin-left: 28px;
    font-size: 25px;
    font-weight: none;
  }
}
