.navbar {
  background-color: black;
  align-items: center;
  display: flex;
  margin-bottom: 1%;
  margin-top: 0.5%;
  a img {
    max-width: 150px;
    max-height: 50px;
    min-width: 90px;
    min-height: 30px;
    width: 9vw;
    height: 3vw;
    margin-left: 20%;
    padding-right: 20%;
    display: flex;
  }
  button {
    background-color: black;
    border: 0;
    box-shadow: none;
    color: white;
  }
  button:hover,
  .navbar-links:hover {
    color: gray;
    cursor: pointer;
  }
  .navbar-links,
  button {
    margin-left: 2%;
    text-decoration: none;
    color: white;
    font-family: "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
  }
  .left-nav {
    display: flex;
    width: 50vw;
    align-items: center;
  }
  .right-nav {
    display: flex;
    position: absolute;
    right: 5%;
    align-items: center;

    .search-icon {
      width: 18px;
      position: absolute;
      left: 5%;
      align-self: center;
    }

    .search {
      align-self: center;
      display: flex;
      #search-bar {
        align-self: center;
        width: 0px;
        height: 34px;
        background-color: #000;
        box-shadow: none;
        color: #fff;
        border: 1px solid transparent;
        outline: none;
        padding-left: 35px;
        font-size: 16px;
        transition: all 0.3s ease, background-position 1ms;
        &.hidden {
          width: 150px;
          border-color: #fff;
        }
      }
    }
  }
}

.search-links {
  margin-left: 25px;
  font-family: "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
  color: white;
  button.premade-search {
    background: none;
    border: none;
    color: white;
  }
  button.premade-search:hover {
    color: red;
    cursor: pointer;
  }
}

@media screen and (max-width: 992px) {
  .navbar-links {
    font-size: 2vw;
  }
}

@media screen and (max-width: 500) {
  .navbar-links {
    font-size: 7vw;
  }
}
@media screen and (max-width: 300) {
  .navbar-links {
    font-size: 10vw;
  }
}

@media screen and (max-width: 5000px) {
  .navbar-links {
    font-size: 16px;
  }
}
