// Place all the styles related to the Session controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body {
    margin: 0;
    padding: 0;
    border: 0;
}

*, *::before, *::after {
    box-sizing: border-box;
}

  
.landing-page { 
    position: relative; 
    height: 712px;
    width: auto;
    display: flex;
    justify-content: center;
    background-image: linear-gradient(to bottom,rgba(4, 0, 7, 0.836),rgba(4, 0, 7, 0.5)), 
        image-url("background-logo-netflix.jpg");
    background-size: cover;
    color:white;
    border-bottom: 8px solid #222;
}
  

.landing-content{
    align-items: initial;
    z-index: 1;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    vertical-align: top;
    img{
        
        float: left;
        width: 125px;
        height: 50px;
        margin-top: 2%;
        margin-left: 5%;;
    }

    button{
        float: right;
        background-color: #e50914;
        padding: 7px 17px;
        border-radius: 3px;
        line-height: normal;
        font-weight: 400;
        font-size: 1rem;
        border: 0;
        color: white;
        vertical-align: sub;
        margin-right: 5%;
        margin-top: 2.5%;
    } 
    a:hover, button:hover{
        cursor: pointer;
    }
}



#sign-in-box{
    display: flex;
    margin-right: auto;
    margin-left: auto;
    justify-content: center;
    position: relative;
    margin-top: 100px;
    height: 671px;
    width: 450px;
    background-color: rgba(4, 0, 7, 0.685);
    z-index: 1;
    font-family: Helvetica,Arial,sans-serif;

    h2{
        font-size: 32px;
        font-weight: 700;
        margin-top: 60px;
        margin-bottom: 20px;
    }
    input{
        background: #333;
        border-radius: 4px;
        border: 0;
        color: #fff;
        height: 50px;
        line-height: 50px;
        padding: 16px 20px;
        margin-top: 15px;
        margin-bottom: 15px;
        width: 314px;
        font-size: 16px;
    }
    input:active, input:focus{
        outline: none;
    }
    #form-submit:hover{
        cursor: pointer;
    }
    #form-submit{
        background-color: #e50914;
        margin-top: 40px;
        margin-bottom: 15px;
        font-size: 16px;
        font-weight: 700;
        padding-bottom: 11px;
        padding-top: 3px;
    }
    p{
        color:red;
    }
}

.card2{
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    content: "";
    position: absolute;
    font-size: 13px;
    color: #757575;
    height: auto;
    width: 100%;     
    padding-left: 50px;
    padding-top: 25px;
    padding-bottom: 150px;
    background-color: rgb(0, 0, 0);
    ul {
        list-style-type: none;
        font-weight: 700;
        font-size: 15px;

    }
    li{
        padding-top: 7px;
        padding-left: 4px;
        font-weight: 300;
        font-size: 13px;

    }
 

}

.signin-page { 
    position: relative; 
    width: auto;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-image: linear-gradient(to bottom,rgba(4, 0, 7, 0.5),rgba(4, 0, 7, 0.5)), image-url("background-logo-netflix.jpg") ;
    background-size: cover;
    color:white;
    // border-bottom: 8px solid #222;
    img{
        display: inline-block;
        position: absolute;
        width: 200px;
        margin-top: 1.5%;
        margin-left: 1.5%;
    }
    a{
        border:0;
        display: 0;
        padding:0;
        height: 40px;
    }
}

.signup-page{
    img{
        float: left;
        width: 125px;
        height: 50px;
        margin-top: 2%;
        margin-left: 5%;;
    }

    button{
        float: right;
        background-color: #e50914;
        padding: 7px 17px;
        border-radius: 3px;
        line-height: normal;
        font-weight: 400;
        font-size: 1rem;
        border: 0;
        color: white;
        vertical-align: sub;
        margin-right: 5%;
        margin-top: 2.5%;
    } 
}

#sign-up-box{
    display: flex;
    margin-right: auto;
    margin-left: auto;
    justify-content: center;
    position: relative;
    padding-top: 130px;
    font-family: Helvetica,Arial,sans-serif;
    width: 314px;
    h2{
        font-weight: 700;
        font-size: 23px;
        margin-top: 60px;
        margin-bottom: 20px;
        color: #333;
        text-align: left;
    }
    h3{
        font-weight: 350;
        color: #333;
        text-align: left;
        font-size: 19px;
        word-spacing: normal;
    }
    input{
        border-radius: 4px;
        border: solid 1px #8c8c8c;
        box-shadow: none;
        color:black;
        height: 50px;
        line-height: 50px;
        padding: 16px 20px;
        margin-top: 15px;
        margin-bottom: 15px;
        width: 314px;
        font-size: 16px;
    }
    input:active, input:focus{
        outline: none;
    }
    #form-submit:hover{
        cursor: pointer;
    }
    #form-submit{
        background-color: #e50914;
        margin-top: 40px;
        margin-bottom: 15px;
        font-size: 16px;
        font-weight: 700;
        padding-bottom: 11px;
        padding-top: 3px;
        color: white;
        border:0;
    }
    p{
        color:red;
    }
}

.landing-signup-form1{
    text-align: center;
    display: block;
    margin-right: auto;
    margin-left: auto;
    justify-content: center;
    position: absolute;
    margin-top: 100px;
    max-width: 640px;
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    z-index: 2;
    opacity: 1;
    h1{
        margin-top: 100px;
        font-weight: bold;
        font-size: 3.125rem;
    }
    h3{
        font-size: 1.625rem;
        font-weight: 400;
    }
    input{
        height: 60px;
        padding: 10px 10px 0;
        width: 80%;
        box-shadow: none;
        border: solid 1px #8c8c8c;
        border-radius: 2px;
        color: #000;
        appearance: none;
        cursor: text;
        margin: 0em;
        font: 400 16px Arial;
        background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
    }
    input:active, input:focus{
        outline: none;
    }
    #submit-button{
        background-color: #e50914;
        margin-top: 40px;
        margin-bottom: 20px;
        font-size: 16px;
        font-weight: 700;
        padding-top: 0px;
        border-radius: 4px;
        border: 0;
        height: 44px;
        color: #fff;
        line-height: 50px;
        padding-bottom: 20px;
        margin-top: 15px;
        margin-bottom: 15px;
        width: 157px;
        font: Arial;
        font-weight: 500;
        font-size: 1rem;
    }

}

button:active, button:focus{
    outline: none;
}
#submit-button, .clickable:hover  {
    cursor: pointer;
}