.links {
  display: flex;
  justify-content: center;
  z-index: 3;
  .profile-links {
    width: 3vw;
    height: 3vw;
    min-width: 25px;
    min-height: 25px;
    opacity: 1;
    transition: 0.3s;
  }
  .profile-links:hover {
    opacity: 0.65;
    transform: scale(1.4);
  }
}
